.container {
	// border-bottom: 2px solid #e8e8e8;
	padding: 10px;
	margin: 5px;
	overflow-x: hidden;
	flex: 1 1;
	display: inline-table;
	min-height: 40px;
	min-width: 250px;

	.baseNameContainer {
		display: flex;
		gap: 5px;
		margin-bottom: 10px;

		.settingName {
			font-size: large;
			font-weight: bold;
			text-align: left;
		}

		.settingDetails {
			font-size: 13px;
			font-style: italic;
		}
	}
}

.input {
	font-size: medium;
	padding: 10px;
	border: 2px solid lightgray;
	width: 100%;
	box-sizing: border-box;
}

.input:focus {
	border: 2px solid lightgray;
}
